@model ajinomoto_app.Models.Pago
@{
    ViewData["Title"] = "Pago con Tarjeta - ";
}

<h1>@ViewData["Title"]</h1>

    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
            <div class="form-group row">
              <h1>Pago</h1>
            </div>
            <form asp-action="Pagar" method="post">
            <div class="grupo">
                <label for="inputNumero">Número Tarjeta</label>
                <input type="number" asp-for="NumeroTarjeta" maxlength="16" autocomplete="off">
            </div>
            <div class="grupo">
                <label for="inputNombre">Nombre</label>
                <input type="text" asp-for="NombreTarjeta" maxlength="19" autocomplete="off">
            </div>
            <div class="flexbox">
                <div class="grupo expira">
                    <label for="selectMes">Expiracion</label>
                    <div class="flexbox">
                        <div class="grupo-select">
                            <select name="mes" id="selectMes">
                                <option selected>01</option>
                                <option selected>02</option>
                                <option selected>03</option>
                                <option selected>04</option>
                                <option selected>05</option>
                                <option selected>06</option>
                                <option selected>07</option>
                                <option selected>08</option>
                                <option selected>09</option>
                                <option selected>10</option>
                                <option selected>11</option>
                                <option selected>12</option>
                            </select>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="grupo-select">
                            <select name="año" id="selectYear">
                                <option selected>2021</option>
                                <option selected>2022</option>
                                <option selected>2023</option>
                                <option selected>2024</option>
                                <option selected>2025</option>
                                <option selected>2026</option>
                                <option selected>2027</option>
                            </select>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>

                <div class="grupo ccv">
                    <label for="inputCCV">CCV</label>
                    <input type="text" asp-for="Cvv" maxlength="3">
                </div>
              </div>
            </form>
            <h1>@ViewData["Message"]</h1>
          </div>
        </div>
    </div>
	
