@model ajinomoto_app.Models.Pago
@{
    ViewData["Title"] = "Pago con Tarjeta - ";
}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Pago con tarjeta de credito</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
	<section id="catalogue" class="biografia section-bggg">
	<div class="contenedor">
		<div class="section-title">
        <h2 aling = "center "data-aos="fade-in">Pago con Tarjeta</h2>
        </div>
		<!-- Formulario -->
		<form method="post" asp-action="Pagar" id="formulario-tarjeta" class="formulario-tarjeta">
			<div class="grupo">
				<label>Monto a pagar</label>
				<input type="text" asp-for="MontoTotal" data-thousands="," data-decimal="." maxlength="8" autocomplete="off" disabled/>
			</div>
			
			<div class="grupo">
				<label for="inputNumero">Número Tarjeta</label>
				<input type="text" asp-for="NumeroTarjeta" maxlength="19" autocomplete="off">
			</div>
			<div class="grupo">
				<label for="inputNombre">Nombre</label>
				<input type="text" asp-for="NombreTarjeta" maxlength="19" autocomplete="off">
			</div>
			<div class="flexbox">
				<div class="grupo expira">
					<label for="selectMes">Expiracion</label>
					<div class="flexbox">
						<div class="grupo-select">
							<select name="mes" id="selectMes">
								<option selected>01</option>
								<option selected>02</option>
								<option selected>03</option>
								<option selected>04</option>
								<option selected>05</option>
								<option selected>06</option>
								<option selected>07</option>
								<option selected>08</option>
								<option selected>09</option>
								<option selected>10</option>
								<option selected>11</option>
								<option selected>12</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="grupo-select">
							<select name="año" id="selectYear">
								<option selected>2021</option>
								<option selected>2022</option>
								<option selected>2023</option>
								<option selected>2024</option>
								<option selected>2025</option>
								<option selected>2026</option>
								<option selected>2027</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="grupo ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" asp-for="Cvv" maxlength="3">
				</div>
			</div>
			<button type="submit" class="btn btn-primary text-white">Enviar</button>
		</form>
		

		<br><br><br>
		<a href="/MEtodoPago/metodopago" class="btn btn-primary text-white"  aling = "">VOLVER</a> 
		
	</div>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="~/js/main.js"></script>
</body>
</html>