<body>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <section id="header" class="d-flex align-items-center justify-content-center">

    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>AJINOMOTO EN TODO EL PERÚ</h1>
          <br>
        </div>
      </div>
    </div>

 </section>

 <section style="background-color: black;">

        <div class="formcontainer">
              <form action="action_page.php">

                    <label for="nombre" style="color: white;">Tu nombre:</label>
                    <input type="text" id="nombre" name="firstname" style="font-size:16px ;">

                    <label for="correo" style="color: white;">Correo:</label>
                    <input type="text" id="correo" name="lastname" placeholder="ab@ajimoto.pe" style="font-size:16px ;">

                    <label for="pais" style="color: white;">País</label>
                    <select id="country" name="country" style="font-size:16px ;">
                    <option value="australia">Perú</option>
                    <option value="canada">Brasil</option>
                    <option value="usa">Chile</option>
                    </select>

                    <label for="comentario" style="color: white;">Comentario</label>
                    <textarea id="comentario" name="comentario" placeholder="Escribe algo.."></textarea>

                     <sectio id="cta" class="cta">

                    
                    <div>
                      <div>
                              <a class="cta-btn" asp-area="Identity" asp-page="/Views/Contactanos/Confirmacion">ENVIAR</a>
                              <script type="text/javascript">
                                  function clicked() {
                                    if (confirm('Do you want to submit?')) {
                                        yourformelement.submit();
                                    } else {
                                        return false;
                                    }
                                  }
                              </script>
                      </div>
                    </div>

              </form>
            </div>           
  

 </section>

</body>