.flex-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {

    text-align: left;
    border:1px solid;
    padding: 10px 50px 10px 50px;
}

span {

    font-weight: bold;
}