html {

    font-size: 62.5%;
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  /*** Globales ***/

  .colores {
 
    background-color: yellow;

  }

  h3 {

    font-size: 2rem;
    font-weight: bold;
  }
  
  .container {

    max-width: 120rem;
    margin: 0 auto;
    width: 95%;

  }

  .tamaño {

    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
  }

  .create {

    max-width: 70rem;
    margin: 0 auto;
    width: 95%;

  }

  fieldset {
    background-color: #eeeeee;
    padding: 5rem;
    border: 1px solid black;
    border-radius: 2rem;
  }

  

  label {

    font-size: 2rem;
  }

 

button {

  font-size: 2rem!important;
  color: azure!important;
}

  img {

     width: 100%;

  }

  
  .color{

    color: red!important;
    font-size: 1.5rem;
  }

  /* SECCION HEAD */


  .bg-color {

     background-color:yellow ;

  }

  
  .flex__img {

     max-width: 100%;
     width: 10%;

  }

  

  @media(min-width: 0px){

    .altura {
    
        height: 20rem;

    }
  

  }

  @media(min-width: 768px){

    .altura {
    
        height: 30rem;

    }

    .color {

      font-size: 2rem;
      text-decoration: none!important;

    }

    
   
    

  }

  @media(min-width: 1140px){

    .altura {
    
        height: 45rem;

    }

    

  }


  .centrar {
  
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  
  
  