<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ajinomoto_app</title>
    <link rel="stylesheet" href="~/css/normalyze.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body onresize="tamaño();">

     <header id="header" class="bg-color">

        <div class="container flex">
        
            <img class="flex__img" src="~/img/logo.png" alt="Icono de Ajinomoto">

        <div class="parrilla">

            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
              </svg>
           
        </div>

        <nav class="flex__nav">

            <a href="#">Inicio</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Productos</a>
            <a href="#">Contáctanos</a>

             <partial name="_LoginPartial" />


          </nav>

        </div>

        <div class="nav-columna">

        </div>


    </header>
   
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    
  
       <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
      @await RenderSectionAsync("Scripts", required: false)
  
</body>
</html>
