@model ajinomoto_app.Models.Producto

@{
    ViewData["Tittle"] = "Detalles";
}

<h1>DETALLES</h1>
<div class="container">
    <div class="col-sm-4">
        <div class="card mb-3">
        <di class="card-body">
            <div class="card-img-actions">
                <img class="img-responsive" width="90" height="140"
                src="/img/@Html.DisplayFor(model => model.Imagen)" alt="@Html.DisplayFor(model => model.Imagen)"  />
            </div>
        </di>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
            <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
            <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
            <a class="btn btn-primary" asp-action="Add" asp-route-id="Id">AGREGAR</a>
        </div>
        </div>
    </div>
</div>