<body>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <section id="hero" class="d-flex align-items-center justify-content-center">

    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>¿QUIÉNES SOMOS?</h1>
          <h2>Fundada en 1968, somos una empresa líder en el sector de alimentos y sazonadores que ofrece productos sabrosos y prácticos, elaborados bajo los más altos estándares 
                de calidad. En Ajinomoto del Perú S.A. estamos comprometidos con la buena alimentación, el bienestar de la sociedad y 
                el medioambiente. Somos parte del Grupo Ajinomoto, líder mundial en la investigación e innovación tecnológica.</h2>
          <br>
          <img src="https://gestion.pe/resizer/7gbB_kyMhW-ogEsMVd7otxD1CPk=/1200x800/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/AYEL2EI56NA7JPKUGG3GQM47GE.jpg" height="350">
        </div>
      </div>
    </div>

 </section>

  <br>
  <br>

 <section id="about" class="about">
        
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-left" data-aos-delay="100">
              <h3>COMPARTIMOS UNA VISIÓN</h3>
              <h4>Ser reconocidos como una empresa alimentaria única que contribuye a la “deliciosa, saludable y nutritiva” vida diaria en América Latina a través de 
                  la realización de negocios sostenibles.</h4>
              <br>   
              <h3>NUESTRA MISIÓN</h3>    
              <h4>Contribuir a la alimentación y bienestar en América Latina.</h4>              
        </div>
      </div>
    </div>

 </section>

<br>
<br>
<br>

 <section id="cta" class="cta">

    <div class="container" data-aos="zoom-in">
      <div class="text-center">
            <h3>¡ADQUIERE TUS PRODUCTOS FAVORITOS!</h3>
            <a class="cta-btn" asp-area="Identity" asp-page="/Account/Register">REGÍSTRATE</a>
      </div>
    </div>

 </section>

<br>
<br>
<br>
<br>
<br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

</body>